<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Logout</title>
    <style>
      body {
        background-color: white;
        position: relative;
      }
      .hello {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
      }
    </style>
  </head>
  <body translate="no">
    <div class="hello">
      <span>
        YOUR SCORE:
        <div class="button-holder">
          <a class="button1" href="#"
            ><h1 class="lines">{{ score }}</h1></a
          >
        </div>
      </span>
    </div>
  </body>
</html>
