{% load static %}
{% load modulo %}

<!doctype html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static "cdn/bootstrap.min.css" %}" rel='stylesheet'>
    <link href="{% static "cdn/font-awesome.min.css" %}" rel='stylesheet'>
    <link href="{% static "cdn/fontRussoOne.css" %}" rel='stylesheet'>
    <link href="{% static "cdn/fontArimo.css" %}" rel='stylesheet'>


    <link href="{% static "css/ques.css" %}" rel='stylesheet'>
    <link href="{% static "css/timer.css" %}" rel='stylesheet'>
    <script src="{% static "cdn/TweenMax.min.js" %}"></script>
    <script src="{% static "cdn/jquery.min.js" %}"></script>
    <script src="{% static "js/timer.js" %}"></script>
    <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="{% static "cdn/jquery-3.2.1.slim.min.js" %}"></script> -->
<script src="{% static "cdn/popper.min.js" %}"></script>
<script src="{% static "cdn/bootstrap.min.js" %}"></script>
    <script>
      //-----------------------All configurations will be here (will be configured via django backend)---------------------------------//

      var qid = 1;      //ID of que (Database ID).
      var qnum = 1;      //Que No. (to be displayed on frontend).
      var dur = "{{ dur }}";      //Total duration of the test (Format "mm:ss").
      var redtime = "{{ tred }}";      //Time at which timer becomes red (Format "mmss").
      var endtime = "{{ endtime }}";
      var csrf = "{{csrf_token}}";
      var id_array = {{id_array}};

    </script>
    {% csrf_token %}
    <title></title>
  </head>
  <body>
    <!-- Navbar for submitting the test-->

<div class="modal fade ide" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 1000px">
    <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: black">
              <span aria-hidden="true"><i class="fa fa-times-circle" style="color: white"></i></span>
            </button>
       
      
          <iframe id="myFrame" src="{{ideHost}}" frameborder="0" width="1000" height="800" ></iframe>
     
      
</div>
  </div>
</div>

    <nav class="navbar navbar-dark bg-dark  justify-content fixed-top" id="mainNav"  >
        <h3 class="primary" style="color: whitesmoke " > Hey,&nbsp;{{userName}}&nbsp;&nbsp;</h3>
    
   
      
      <div class="timer bg-dark">
  <div class="timer--clock">
    <div class="minutes-group clock-display-grp">
      <div class="first number-grp">
        <div class="number-grp-wrp">
          <div class="num num-0">
            <p>0</p>
          </div>
          <div class="num num-1">
            <p>1</p>
          </div>
          <div class="num num-2">
            <p>2</p>
          </div>
          <div class="num num-3">
            <p>3</p>
          </div>
          <div class="num num-4">
            <p>4</p>
          </div>
          <div class="num num-5">
            <p>5</p>
          </div>
          <div class="num num-6">
            <p>6</p>
          </div>
          <div class="num num-7">
            <p>7</p>
          </div>
          <div class="num num-8">
            <p>8</p>
          </div>
          <div class="num num-9">
            <p>9</p>
          </div>
        </div>
      </div>
      <div class="second number-grp">
        <div class="number-grp-wrp">
          <div class="num num-0">
            <p>0</p>
          </div>
          <div class="num num-1">
            <p>1</p>
          </div>
          <div class="num num-2">
            <p>2</p>
          </div>
          <div class="num num-3">
            <p>3</p>
          </div>
          <div class="num num-4">
            <p>4</p>
          </div>
          <div class="num num-5">
            <p>5</p>
          </div>
          <div class="num num-6">
            <p>6</p>
          </div>
          <div class="num num-7">
            <p>7</p>
          </div>
          <div class="num num-8">
            <p>8</p>
          </div>
          <div class="num num-9">
            <p>9</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clock-separator">
      <p>:</p>
    </div>
    <div class="seconds-group clock-display-grp">
      <div class="first number-grp">
        <div class="number-grp-wrp">
          <div class="num num-0">
            <p>0</p>
          </div>
          <div class="num num-1">
            <p>1</p>
          </div>
          <div class="num num-2">
            <p>2</p>
          </div>
          <div class="num num-3">
            <p>3</p>
          </div>
          <div class="num num-4">
            <p>4</p>
          </div>
          <div class="num num-5">
            <p>5</p>
          </div>
          <div class="num num-6">
            <p>6</p>
          </div>
          <div class="num num-7">
            <p>7</p>
          </div>
          <div class="num num-8">
            <p>8</p>
          </div>
          <div class="num num-9">
            <p>9</p>
          </div>
        </div>
      </div>
      <div class="second number-grp">
        <div class="number-grp-wrp">
          <div class="num num-0">
            <p>0</p>
          </div>
          <div class="num num-1">
            <p>1</p>
          </div>
          <div class="num num-2">
            <p>2</p>
          </div>
          <div class="num num-3">
            <p>3</p>
          </div>
          <div class="num num-4">
            <p>4</p>
          </div>
          <div class="num num-5">
            <p>5</p>
          </div>
          <div class="num num-6">
            <p>6</p>
          </div>
          <div class="num num-7">
            <p>7</p>
          </div>
          <div class="num num-8">
            <p>8</p>
          </div>
          <div class="num num-9">
            <p>9</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reload">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 65 65" enable-background="new 0 0 65 65" xml:space="preserve">
      <path fill="#2b2b2b" d="M60.2,2.5c-2.3-0.2-4.4,1.5-4.6,3.9l-0.2,2.3c-6-5.6-13.8-8.7-22-8.7C15.5,0,0.9,14.5,0.9,32.4c0,17.9,14.5,32.4,32.4,32.4
         c12.3,0,23.5-6.9,29-17.9c1.1-2.1,0.2-4.7-1.9-5.7c-2.1-1.1-4.7-0.2-5.7,1.9c-4.1,8.1-12.3,13.2-21.4,13.2
         c-13.2,0-23.9-10.7-23.9-23.9c0-13.2,10.7-23.9,23.9-23.9c6.1,0,11.9,2.3,16.4,6.5l-3.4-0.3c-2.3-0.2-4.4,1.5-4.6,3.9
         c-0.2,2.3,1.5,4.4,3.9,4.6l12.7,1.1c0.1,0,0.3,0,0.4,0c1,0,2-0.3,2.7-1c0.9-0.7,1.4-1.8,1.5-2.9l1.2-13.4
         C64.3,4.7,62.5,2.7,60.2,2.5z"/>
    </svg>
</div>

      <div class="container container-main center">
        <h3 class="display-10">{{event}}</h3>
       
      </div>

    </nav>
    <!--Navbar ends here-->

    <div class="container-fluid ">
      <div class="row full-width-row">


        <div class=" col-lg-9 " >
          <div class="col-lg-8">
           <div class="row question box1 full-width-row rounded ">
            <p class="lead " id="qnum">Question No </p>
          </div>
          <div class=" row full-width-row description box2 rounded">
           <!--  <button type="button" class="btn "> <i class="fa fa-expand"></i></button> -->

           <pre style="white-space:pre-wrap;color: white; font-size: 1.7rem; font-family: 'Ubuntu Mono',monospace" class="ques hide" id="quedisp">...</pre>
        </div>
      </div>
<div class="col-lg-4" >
        <div class="row main rounded text-center box1"><p class="lead">Options</p></div>
  <div class="opt-container hide">
        <div class="row op op1 rounded" value="a">
          <div class="left">
          <div class='c1'>
            <div class='c2' id="a"><p class="option" id="pa">A</p></div>
            <span class='short'></span>
            <span class='long'></span>
          </div></div>
            <div class="opttxt" style="font-size: 1.5rem;/*font-weight: bolder;*/">OPTIONS 1</div></div>

        <div class="row op op1 rounded" value="b">
          <div class="left">
          <div class='c1'>
            <div class='c2' id="b"><p class="option" id="pb" >B</p></div>
            <span class='short'></span>
            <span class='long'></span>
          </div></div>

        <div class="opttxt middle" style="font-size: 1.5rem;/*font-weight: bolder;*/">OPTIONS 2</div></div>
        <div class="row op op1 rounded" value="c">
          <div class="left">
        <div class='c1'>
            <div class='c2' id="c"><p class="option" id="pc">C</p></div>
            <span class='short'></span>
            <span class='long'></span>
          </div></div>
<div class="opttxt" style="font-size: 1.5rem;/*font-weight: bolder;*/">OPTIONS 3</div></div>
        <div class="row op op1 rounded" value="d">
          <div class="left">
        <div class='c1'>
            <div class='c2' id="d"><p class="option" id="pd" >D</p></div>
            <span class='short'></span>
            <span class='long'></span>
          </div></div>
<div class="opttxt" style="font-size: 1.5rem;/*font-weight: bolder;*/">OPTIONS 4</div></div>
  </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="row main rounded text-center box1"><p class="lead">Question List</p></div>
      <span class="overflow-none">
      <div class=" display-5 list" style="margin-top: 0">

       <!-- <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Grid View
      </button>
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        List  View
      </button> -->


    </div>
    <div class="container overflow-none" >
      <div >
          <div class="row size">
          {% for i in id_array %}
          {% if not forloop.first %}
            {% if forloop.counter0|modulo:5 == 1 %}
            </div><div class="row size">
            {% endif %}
            <a class="roundbutton" id="q{{forloop.counter0}}" onclick="getQuestion({{forloop.counter0}})"><span class="wrapper">{{forloop.counter0}}</span><i class="fa fa-bookmark hide" id="one"></i></a>
          {% endif %}
          {% endfor %}





   </div>
 </div>
</div>


<!-- Bottom Navbar-->
<nav class="navbar  navbar fixed-bottom navbar1" >
  <form class="form-inline">
    <button type="button" class="btn btn-outline-primary btn2" onclick="bookmark()"> <i class=" fa fa-bookmark"></i>&nbsp&nbspBookmark</button>
    <button type="button" class="btn btn-outline-danger btn2 " data-toggle="modal" data-target=".ide"> <i class="fa fa-code"></i> &nbsp&nbspShow IDE</button>
    &nbsp;&nbsp;&nbsp;    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-warning btn2" id="btnprev" onclick="getQuestion(qid-1)"><i class=" fa fa-arrow-left"></i>&nbsp&nbsp Previous Question</button>
    <button type="button" class="btn  hide-on-small-only btn-outline-success btn2 " id="btnnext" onclick="getQuestion(qid+1)"><span class="hide-on-small-only">&nbsp&nbspSave & Next </span> <i class=" fa fa-arrow-right"></i></button>


   <!--  <button type="button" class="btn btn-outline-info btn2"><i class=" fa fa-eraser"></i>&nbsp&nbspClear Response</button> -->

  <!--  <button data-toggle="collapse" type="button" class="btn btn-outline-primary btn2 btns" data-toggle="modal" data-target="#exampleModalCenter">Submit
        </button> -->
        <button type="button" class="btn btn-outline-primary btn2 btns" id="btnsubmit" data-toggle="modal" data-target="#exampleModalCenter">
  End Test
</button>





<!-- Button trigger modal -->


<!-- Modal -->

  </form>

</nav>

<!--Bottom navbar-->





<!--  -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Do you really wish to submit the test?</h5>
        <button type="button" class="close modalclose" data-dismiss="modal" id="" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-footer">
        <button type="button btn" class="btn btn-outline-danger modalclose" data-dismiss="modal" data-target="body">No</button>
          <form name="frmsubmit" onsubmit="return sub()" id="frmsubmit" action="{% url 'submit_data' %}" method="post">
    {% csrf_token %}
    <input type="hidden" id="inpans" name="answers" value="">
    <input type="submit" id="modalsubmit" class="btn btn-outline-success heythere" value="Yes, Submit!">
</form>
      </div>
    </div>
  </div>
</div>









<script src="{% static "js/ques.js" %}"></script>
<script src="{% static "js/timer.js" %}"></script>
<script>




  $(function()
  {
    $('on-hover').hover(function()
    {
      $('on-hover').attr('i','fa fa-bookmark');
    }
    )
  })





    // body...

// $('.op').on('click', function(e){
//       e.preventDefault();
//       $(this).hide();
//     });

</script>
<script>
 $(document).ready(function () {
    $("#frmsubmit").submit(function () {
        $(".heythere").attr("disabled", true);
        return true;
    });
});

</script>





</body>
</html>
