{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<title>Pulzion 2019 MCQ</title>


<link href='{% static "cdn/bootstrap.min.css" %}' rel='stylesheet'>
<link href='{% static "css/login.css" %}' rel='stylesheet'>
<link href="{% static "css/rules.css" %}" rel='stylesheet'>
        <style>
        .event-logo{
			width: 30vh;
			height: 30vh;
		}

		.event-logo-wrapper{
			position: absolute;
			text-align: center;
			color: white;
			box-shadow: -2px -2px 20px 0px rgba(73, 196, 227, 0.9);
			border-bottom-right-radius: 25px;
			background: black;
            left: 0%;
            top: 0%;
		}
        </style>
  <script>
      function deleteAllCookies()
      {
          var d = new Date();
          d.setTime(d.getTime()-15*60*1000);
          document.cookie.split(";").forEach(function(c)
          {
              console.log(c);
              if(c.split("=")[0] !== "csrftoken")
                  document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + d.toGMTString() + ";path=/");
              else
                  console.log("CSRF token cookie not deleted!");
          });
      }
      deleteAllCookies();
</script>
</head>
<body>
<div class="event-logo-wrapper">
	<img class="event-logo" src="{% static "img/event_logo.jpg" %}" >
	<h1>Cerebro</h1>
</div>

<div class="rules">
    <center>
      <h1><b>Set of Rules</b></h1>
    </center>
    <ul>
      <li>
        <h2>Section 1:</h2>
        <p>
          • No internet Access is available .  
          <br>• Session is of 30 minutes.
          <br>• There are Total 50 Questions. 
          <br>• No Negative Marking Is there. 
        </p>
      </li>
    </ul>
    <ul>
      <li>
        <h2>Section 2:</h2>
        <p>
          • Do Not Peek In Another User's PC!  
          <br> • You can Bookmark Any Question  by clicking On Bookmark button.
          <br> • Blue sign Indicates Bookmarked.
          <br> • Green Sign Indicates Attempted.
          <br> • You Can View Total Bookmarked Question In Question List!
        </p>
      </li>
    </ul>
</div> 
<a href="/questions" class="submit" style="text-decoration: none">N E X T</a>
<a href="#"><button disabled class="logout">Logout</button></a>

        <div class="container">
	<div class="avatar">
        <img src="{% static "img/logo.png" %}" >
	</div>
</div>

</body>
</html>
